@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-tl {
  background-color: #f6f9fc;
}
.bg-blue-tl-grad {
  background: linear-gradient(214.25deg, #00aadd 0%, #233b6b 100%),
    linear-gradient(0deg, #223b6c, #223b6c), #00aadd;
}
body .bg-blue-tl {
  background-color: #00aadd;
}
body .bg-blue-tl-200 {
  background-color: #dbecf2;
}
body .text-blue-tl {
  color: #00aadd;
}
body .text-navy-tl,
body .hover\:text-navy-tl:hover {
  color: #233b6b;
}

@keyframes tl-spinner {
  to {
    transform: rotate(360deg);
  }
}

body .spinner-dark-tl:before,
body .spinner-light-tl:before {
  content: "";
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: tl-spinner 0.6s linear infinite;
  position: absolute;
}

body .spinner-dark-tl:before {
  border: 2px solid rgba(35, 59, 107, 0.8);
  border-top-color: #00aadd;
}

body .spinner-light-tl:before {
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-top-color: rgba(35, 59, 107, 0.8);
}

body .border-blue-tl {
  border-color: #00aadd;
}
body .bg-blue-tl:hover {
  background-color: #0092be;
}
.tooltip {
  visibility: hidden;
  position: absolute;
}
.has-tooltip:hover .tooltip {
  right: 0;
  visibility: visible;
  z-index: 100;
}
.has-tooltip .tooltip {
  right: 0;
  visibility: visible;
  z-index: 100;
}
.has-tooltip .tooltip:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  margin-right: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: rgb(185, 28, 28) transparent transparent transparent;
  bottom: -11px;
  right: 19px;
}
.ring-blue-tl {
  --tw-ring-color: #136388;
}

/** Push topbar over**/
.auto-fold #wpcontent,
#wpcontent {
  padding-left: 0;
}

/** When in responsive mode and the sidebar is open, remove margin between menu and #wpcontent. **/
.wp-responsive-open #trustedlogin-settings {
  margin-left: -18px;
}

/** Style Horizontal Logo **/
.trustedlogin-horizontal-logo {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.tl-hl-st0 {
  fill: #1099d6;
}
.tl-hl-st1 {
  fill: #1b2b59;
}
.tl-hl-st2 {
  fill: #ffffff;
}
.tl-hl-st3 {
  fill: #7f7f7f;
}
.tl-hl-st4 {
  fill: #333333;
}
.tl-hl-st5 {
  fill: none;
}

/* toastError.css */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

.slide-out {
  animation: slideOut 0.3s forwards;
}
